<nav class="navbar navbar-expand-lg navbar-dark navbar-black bg-dark fixed-top">
  <a class="navbar-brand navbar-a" href="">Django Channels Chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% if user.is_authenticated %}
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link navbar-a" href="{% url 'chat:rooms' %}"><i class="fas fa-comment-dots"></i>My Chats</a>
          </li>
          <li class="nav-item">
              <a class="nav-link navbar-a" href="{% url 'chat:new_room' %}"><i class="fas fa-plus"></i>New Chat</a>
          </li>
          <li class="nav-item">
              <a class="nav-link navbar-a" href="{% url 'edit_profile' %}"><i class="fas fa-cog"></i>Settings</a>
          </li>     
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item">
              <a class="nav-link navbar-a" id='logout' href="{% url 'logout' %}" style="right: 0;">Logout</a>
          </li>
      </ul>
    </div>
  {% endif %}
</nav>

