.btn-avocado{
	background-color: #226E17;
	color: #FFFFFF;
}
.navbar-avocado{
	background-color: #226E17;
	color: #FFFFFF;
}
.navbar-a:link {
	color: #FFFFFF;
}
.navbar-a:visited {
	color: #FFFFFF;
}
.navbar-a:hover {
	color: #FFFFFF;
}
.navbar-a:active {
	color: #FFFFFF;
}
.arrow-up-avocado{
	color: #226E17;
	margin-left: 1000;
}
.not_read{
	background-color: #C7FCEC;
}
.my_message_block{

}
.anothers_message_block{

}