{% extends 'base.html' %}

{% block content %}

<div class="col-md-8 col-md-offset-2 text-center center-box">
	<form method="POST">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group col-md-6" style="margin: 0 auto;">
				{{ form.non_field_errors }}
				{{ field.errors }}
				{{ field.label_tag }}
				{{ field }}
			</div>
		{% endfor %}
		<div class="form-group col-md-6" style="margin: 0 auto; margin-top: 5%;">
			<p><input type="submit" class="btn btn-black" value="Register"><a href="{% url 'index' %}"> Back to home page</a></p>
		</div>		
	</form>
</div>


{% endblock %}